.storemap-preloader
    img(src="https://www.drmartens.com/_ui/responsive/theme-dm/images/drm-logo-mobile.svg")
div(id="app")
    include alert
    .map-container
        <div class="map" id="map"></div>
        include listings/sidebar