//ohh hybris
.yCmsComponent div#app {
    margin-top: 58px;
}
@media screen and (min-width: 768px) {
    .yCmsComponent div#app {
        margin-top: 5px;
    }
}
@media screen and (min-width: 1024px) {
    .yCmsComponent div#app {
    //    margin-top: -16px;
    }
}

.js-device-info main#main-content {
 //   padding-top: 0 !important;
}
#app {
    margin-bottom: -90px;
    @media screen and (min-width: 768px) {
        margin-bottom: -60px;
	} 
}
main#main-content {
    background-color: black;
    
    @media screen and (max-width: 768px) {
        padding-top: 0px !important;
    }
}

.yCmsContentSlot.smartEditComponent {
    background-color: transparent;
}

.yCmsComponent.smartEditComponent {
    background-color: transparent;
}


//END ohh hybris
.mapCluster.mapboxgl-marker.mapboxgl-marker-anchor-center {
    z-index: 9999;
}
.map-container {
    position: relative;
    width: 100%;
    background-color: white;
    color:black;
    .desktopSearch {
        display: none;
    }
    @media screen and (min-width: 768px) {
        margin-top: 0;
        @media (orientation: landscape) {
            display: flex;
            margin-top: -100px;
        }
    }
    @media screen and (min-width: 1024px) {
        display: flex;
        margin-top: -100px;
        .mobileSearch {
        //    display:none;
        }
        .desktopSearch {
       //     display: block;
        }
    }
    @media screen and (min-width: 768px) {
        @media (orientation: landscape) {
            .sidebar {
                width: 50%;
            }
        }
    }
    .map {
        height:268px;
        width: 100%;
        overflow: hidden;
        top: 50px;
        z-index: 1;
        @media screen and (min-width: 460px) {
            height: 300px;
        }
        @media screen and (min-width: 768px) {
            @media (orientation: landscape) {
                position: sticky;
                width: 50%;
                left:0;
                top: 0;
                bottom: 0;
                height:100vh;
            }
        }
        @media screen and (min-width: 1024px) {
            position: sticky;
            width: 66.6666%;
            left:0;
            top: 0;
            bottom: 0;
            height:100vh;
        }
    }
    .marker {
        border: none;
        background-repeat: no-repeat;
        cursor: pointer;
        background-size: contain;
        height: 25px;
        width: 25px;
    }
    .hide-marker {
        opacity: 0 !important;
    }
    /* Marker tweaks */
    .mapboxgl-popup {
        padding-bottom: 50px;
    }
    
    .mapboxgl-popup-close-button {
        display: none;
    }
    .mapboxgl-popup-content {
        font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
        padding: 0;
        width: 180px;
    }
    .mapboxgl-popup-content h3 {
        background: black;
        color: #fff;
        margin: 0;
        padding: 10px;
        border-radius: 3px 3px 0 0;
        font-weight: 700;
        margin-top: -15px;
    }
    
    .mapboxgl-popup-content h4 {
        margin: 0;
        padding: 10px;
        font-weight: 400;
    }
    
    .mapboxgl-popup-content div {
        padding: 10px;
    }
    
    .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
        margin-top: 15px;
    }
    
    .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
        border-bottom-color: #91c949;
    }
    
    .mapCluster{
        cursor:pointer;
    }
    .mapCluster {
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 400;
        color:black;
        background-color:#FFE512;
        border-radius:90px;
        min-height:19.46px;
        min-width:19.46px;
        font-size: 9px;
        text-align:center;
        z-index: 0;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
        
        @media screen and (min-width: 768px) {
            font-size: 18px;
            min-height: 38.92px;
            min-width: 38.92px;
            padding: 8px 0;
        }
        @media screen and (min-width: 1440px) {
            padding:30px 0;
            min-height:84px;
            min-width:84px;
            font-size: 36px;
        }
    }
    
}
.store-page-map-container {
    padding: 0 10px;
    @media screen and (min-width: 768px) {
        padding: 0 40px;
    }
    
    #map {
        height: 170px;
        @media screen and (min-width: 768px) {
            height: 300px;
        }
        @media screen and (min-width: 1024px) {
            height: 488px;
        }
        .map-btn {
            position: absolute;
            z-index: 99;
            font-family: 'Oswald';
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            text-transform: uppercase;
            //min-width: 130px;
            //height: 32px;
            left: 50%;
            top: calc(50% - 9px);
            background: #FFE512;
            color: black;
            padding: 7px 26px;
            transform: translate(-50%, 0%);
            &:hover {
                background-color: #FFD909;
                border-color: #FFD909;
                text-decoration: none;
            }
            @media screen and (min-width: 768px) {
              //  top: 62%;
            }
            
            @media screen and (min-width: 1024px) {
                font-size: 18px;
                line-height: 27px;
                top: calc(50% - 13.5px);
            }
        }
    }
}