doctype html
html(lang="en")
	head
		meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		title Dr. Martens Store Locator
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Overpass&display=swap" rel="stylesheet")
		link(rel="stylesheet", id="preview-styles", href=`${baseUrl}preview.css`)
		link(rel='preconnect' href='https://cdn-ukwest.onetrust.com')
		link(rel='preconnect' href='https://www.googleoptimize.com')
		link(rel='preconnect' href='https://www.googletagmanager.com')
		link(rel='preconnect' href='https://cdn.attraqt.io')
		link(rel='preconnect' href='https://static.klaviyo.com')
		link(rel='preconnect' href='https://static.srcspot.com')
		link(rel='preconnect' href='https://cdn.media.amplience.net')
		link(rel='dns-prefetch' href='https://cdn-ukwest.onetrust.com')
		link(rel='dns-prefetch' href='https://www.googleoptimize.com')
		link(rel='dns-prefetch' href='https://www.googletagmanager.com')
		link(rel='dns-prefetch' href='https://cdn.attraqt.io')
		link(rel='dns-prefetch' href='https://static.klaviyo.com')
		link(rel='dns-prefetch' href='https://static.srcspot.com')
		link(rel='dns-prefetch' href='https://cdn.media.amplience.net')
		style.
			html { box-sizing: border-box; font-size: 16px; } 
			*, *:before, *:after { box-sizing: border-box; text-decoration: none; } 
			body, h1, h2, h3, h4, h5, h6, p, ol, ul { margin: 0; padding: 0; font-weight: normal; } 
			ol, ul { list-style: none; } 
			.footer-top {
				margin-top: 60px;
			}
			@media screen and (max-width: 768px) {
				.footer-top {
					margin-top: 90px;
				}
			}
			.fade-map-elements {
				visibility: hidden;
				opacity: 0;
			}
		if config.entry.css.embed
			link(rel="stylesheet" href=`${embedPath}` embed)
		if config.entry.css.external
			link(rel="stylesheet", id="map-styles", href=`${baseUrl}style.css`)

	body.dm-main.page-cmsitem-00035000.pageType-ContentPage.template-pages-layout-contentLayout2Page.pageLabel--store-locator.smartedit-page-uid-cmsitem_00035000.smartedit-page-uuid-eyJpdGVtSWQiOiJjbXNpdGVtXzAwMDM1MDAwIiwiY2F0YWxvZ0lkIjoiZG0tdXNDb250ZW50Q2F0YWxvZyIsImNhdGFsb2dWZXJzaW9uIjoiT25saW5lIn0.smartedit-catalog-version-uuid-dm-usContentCatalogOnline.language-en 

		.branding-mobile.hidden-sm.hidden-md.hidden-lg
			.js-mobile-logo
		.js-device-info(data-currency-iso-code='USD' data-device='desktop')
			.yCmsContentSlot
			include preview/head
			main#main-content.dm-main.clr.clearfix.main__inner-wrapper
				.yCmsComponent
					.content
						block content
				.container
					.page-content.clearfix
				.yCmsContentSlot
			
			include preview/footer
		script(src='bundle.js')

