if config.entry.css.embed
	link(rel="stylesheet" href=`${embedPath}` embed)
block content
if config.entry.css.external
	link(rel="stylesheet", href=`${baseUrl}style.css`)

script(src='bundle.js')
