if config.entry.css.external
    link(rel="stylesheet", id="map-styles", href='https://s3.amazonaws.com/dm-us-imgs/AW23/store-locator/style.css')

block content  


script(src='https://s3.amazonaws.com/dm-us-imgs/AW23/store-locator/bundle.js')