* {
  box-sizing: border-box;
}

#app {
	position: relative;
	background-color: #fff;
	color: #000;

	h1, h2 {
		margin: 0;
		font-family: "Oswald", "Trade Gothic Bold", sans-serif; 
		font-weight: 500;
	}
			
	h1 {
		font-size: 48px;
		text-transform: uppercase;
	} 
		
	h2 {
		font-size: 20px;
	}

	h3 {
		font-family: "Overpass", "Interstate Reg", sans-serif;
		font-size: 15px;
		font-weight: 800;
	}

	p { 
		line-height: 30px;
	}

	body {
		background-color: #000;
		color: #fff;
		font-family: "Overpass", "Interstate Reg", sans-serif;
		font-size: 14px;
	}

	@media screen and (max-width:1023px) {
		.dm-main { 
			margin-top: 0px !important;
		}
	}
  h1 {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 600;
	font-size: 58px;
  }
  h3 {
	  font-family: 'Oswald';
	  text-transform: uppercase;
	  font-weight: 700;
	  font-size: 18px;
  }
  h4 {
		font-family: 'Oswald';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		margin-bottom: 12px;
		line-height: 16px;
		@media screen and (min-width: 768px) {
			margin-bottom: 26px;
			font-size: 18px;
		}
	}
	.mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-bottom-left {
		display: none;
	}
}
.fade {
    visibility: hidden;
    opacity: 0;
    transition: 0.25s ease opacity;
}