* {
  box-sizing: border-box;
}
@keyframes pulse {
	0% { transform: scale(0.85); opacity: 0.75;}
	50% { transform: scale(1); opacity: 1;}
	100% { transform: scale(0.85); opacity: 0.75;}
  }
.preloader {
    top: 0;
    width: 100%;
    position:absolute;
    height: 100vh;
    background-color:black;
    text-align: center;
    z-index: 10;
}

.preloader img {
    transform: scale(0.85);
    opacity: 0.75;
    animation: pulse 2s ease-in-out infinite;
     position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 144px;
}
@media screen and (min-width: 768px) {
  .preloader img {
      width: 216px;
  }
}
@media screen and (min-width: 1440px) {
  .preloader img {
      width: 288px;
  }
}
#app {
	position: relative;
	//background-color: #fff;
	color: #000;

	h1, h2 {
		margin: 0;
		font-family: "Oswald", "Trade Gothic Bold", sans-serif; 
		font-weight: 500;
	}
			
	h1 {
		font-size: 48px;
		text-transform: uppercase;
	} 
		
	h2 {
		font-size: 20px;
	}

	h3 {
		font-family: "Overpass", "Interstate Reg", sans-serif;
		font-size: 15px;
		font-weight: 800;
	}

	p { 
		line-height: 30px;
	}

	body {
		background-color: #000;
		color: #fff;
		font-family: "Overpass", "Interstate Reg", sans-serif;
		font-size: 14px;
	}

	@media screen and (max-width:1023px) {
		.dm-main { 
			margin-top: 0px !important;
		}
	}
  h1 {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 600;
	font-size: 58px;
  }
  h3 {
	  font-family: 'Oswald';
	  text-transform: uppercase;
	  font-weight: 700;
	  font-size: 18px;
  }
  h4 {
		font-family: 'Oswald';
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		margin-bottom: 12px;
		line-height: 16px;
		@media screen and (min-width: 768px) {
			margin-bottom: 26px;
			font-size: 18px;
		}
	}
	.mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-bottom-left {
		display: none;
	}
}
.fade {
    visibility: hidden;
    opacity: 0;
    transition: 0.25s ease opacity;
}