#app {
  .sidebar {
    position: relative;
    z-index: 2;
    @media screen and (min-width: 1024px) {
      width: 33.3333%;
      height: 100%;
      top: 0;
      overflow: hidden;
    }
    padding-top: 0px;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    background-color: white; 
    &.search-suggestions-displayed:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
    }
    &:after {
      transition: .15s ease background-color;
    }
    svg.mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-close {
        margin-top: 8px;
    }
    .listings {
        .item {
          position:relative;
          min-height: 118px;
          border-top: 1px solid rgba(215, 215, 215, 0.3);
          display: flex;
          flex-direction: column;
          justify-content: center;
          &:hover {
            background-color: rgba(215, 215, 215, 0.3);
          }
          a {
            color: black;
            font-weight: 700;
            font-size: 10px;
            &::after {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              z-index: 1;
              content: "";
            }
          }  
      .listing-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        @media screen and (min-width: 1024px) {
         padding: 0 20px;
        }
        .listing-details {
          padding: 10px;
          font-size: 10px;
            strong {
              font-weight: bold;
          }
            h3 {
                font-size: 14px;
                margin-bottom: 8px;
                line-height: 21px;
            }
            small {
              font-size: 10px;
              display:block;
              margin-bottom: 8px;
              color: #1E1E1E;
            }
            
          }
          .meta-details {
            min-width: 50px;
            margin-right: 10px;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
  
 .searchcntr {
  @media screen and (max-width: 768px) {
    top: -300px;
    z-index: 2;
    position: absolute;
    width: 100%;
  }
    @media screen and (max-width: 460px) {
      top: -268px;
    }
    
  }
  .results-icon {
    width: 1rem;
  }
  .mapboxgl-ctrl-geocoder {
    border: 0;
    //position: absolute;
    box-shadow: none;
    z-index: 9;
    //left: calc(100% + 25px);
    border-radius: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    &> div {
      min-width: 100%;
      margin-left: 0;
    }
    .mapboxgl-ctrl-geocoder--input {
        font-family: $mainfont;
        height: 50px;
        padding: 6px 15px 6px 35px;
        font-size: 12px;
         @media screen and (min-width: 1024px) {
          padding: 6px 15px 6px 50px;
        }
      }
    .mapboxgl-ctrl-geocoder--icon {
      top: 16px;
      left: 10px;
      width: 15px;
      height: 15px;
      @media screen and (min-width: 1024px) {
        left: 24px;
      }
    }
    .suggestions-wrapper {
      .suggestions {
        border-radius: 0;
        padding: 10px 0;
        top: 100%;
        &> li > a {
            padding: 0 10px;
            @media screen and (min-width: 1024px) {
              padding: 0 24px;
            }
        }
        .results-icon {
            vertical-align: middle;
            margin-right: 8px;
        }
        .mapboxgl-ctrl-geocoder--suggestion {
            font-family: $mainfont;
            font-size: 10px;
            display: flex;  
            .mapboxgl-ctrl-geocoder--suggestion-title {
                padding-right: 6px;
            }
        }
      }
    }
  }
  
}