style 
  include urltestor.css
.landing-page(id="landing")
  h1 landing page
  a(href="?test-page") test link
.test-page.hidden(id="test-page")
  h1 test page title
  p test page is now showing. 
    a(href='/urltestor.html') Click here to return.

script(type="text/javascript")
  include urltestor.js
